:root {
    --blue: #1a657b;
    --light-blue: #97adb2;
    --light-blue2: #42c7ff;
    --white: #ffffff;
    --yellow: #ffe899;
    --black: #000000;
}

* {
    font-family: Tahoma, sans-serif;
}

body {
    background-color: var(--light-blue2);
}

#nav-bar {
    background-color: var(--yellow);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#logo {
    position: absolute;
    left: 20px;
}

#navigation {
    text-align: center;
    margin: 1.5em;
}

#loginLink {
    position: absolute;
    text-align: right;
    right: 20px;
}
